<section id="home" class="no-padding builder-bg bg-puerto-rico border-none header-margin-top">
  <div class="container">
    <div class="row equalize xs-equalize-auto equalize-display-inherit">
      <!-- image -->
      <div class="col-md-6 col-sm-5 col-xs-12 display-table" style="height: 714px;">
        <div class="text-left xs-text-center padding-twenty-nine-top display-table-cell-vertical-center xs-no-padding-top">
          <img class="xs-width-80" src="http://www.themezaa.com/html/leadgen/demo/e-book/images/application-slider-mobile-04.png" data-img-size="(W)436px X (H)629px" alt="">
        </div>
      </div>
      <!-- end image -->
      <div class="col-md-6 col-sm-7 col-xs-12 text-left xs-margin-nineteen-bottom xs-text-center display-table pull-right" style="height: 714px;">
        <div class="display-table-cell-vertical-middle xs-padding-nineteen-top">
          <div class="row">
            <div class="col-md-12 col-sm-12 pull-right">
              <app-registration></app-registration>
              <!-- end Registration form -->
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>